* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #BBBBBB;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
	gap: 25px;
}

header {
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #2E2E2E;
}

.information-display {
    width: 80%;
    height: 70%;
    background-color: #9B9B9B;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
}

.display-title {
    width: 100%;
    height: 10%;
    color: #2E2E2E;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
	font-size: 1.5rem;
}

.type {
    width: 100%;
    height: fit-content;
    display: flex;
    align-content: center;
    justify-content: space-around;
    color: #2E2E2E;
}

.car-choice, .van-choice {
    width: 15px;
    height: 15px;
    background-color: #C7C7C7;
    cursor: pointer;
}

.car, .van {
    display: flex;
    gap: 15px;
}

.vehicle-information {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.general-information, .car-information, .van-information {
    height: 90%;
    width: 32.1%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 15px;
    color: #2E2E2E;
    background-color: #565656;
    border-radius: 10px;
    color: #B6B6B6;
    padding-top: 15px;
}

.registration, .wheels, .weight, .passengers, .height {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.registration-container, .wheels-container, .weight-container, .passengers-container, .height-container {
    width: 150px;
    height: 20px;
    background-color: #959595;
	border: none;
}

.submit {
	width: 100px;
	height: 30px;
    background-color: #565656;
	border: none;
	color: #C7C7C7;
	border-radius: 5px;
	margin-bottom: 10px;
    cursor: pointer;
}